[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
psycopg2-binary = "*"
django-environ = "*"
redis = "*"
celery = "*"
cached-property = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.8"
